@import 'utilities';

/* NAVBAR */
.navbar {
  width: 100%;
  background-color: transparent;
  padding: 3.5rem 8%;
  .navbar-toggler {
    width: auto;
    height: auto;
    padding: 0;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-toggler-icon {
    font-size: 2rem;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-bottom: 0;
  }
  .nav-link {
    font-size: 1.5rem;
    color: $white;
    margin-right: 2.5rem;
    text-transform: uppercase;
  }
  img {
    width: 100%;
  }
}

/* OFFCANVAS */
.offcanvas {
  padding: 3.5rem 3rem;
  background-color: hsla(229, 31%, 21%, 0.9);
}
.offcanvas-main {
  width: 100%;
}
.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  .offcanvas-header {
    padding: 0;
  }
  .btn-close {
    font-size: 2rem;
    margin: 0;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    opacity: 1;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
  }
  ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
  }
  li {
    border-top: 1px solid gray;
    padding: 2rem;
  }
  li:nth-child(4) {
    padding: 0;
  }
  li:nth-child(4) .nav-link {
    width: 100%;
    border: 3px solid $white;
    margin-top: 2.5rem;
    padding: 0.8rem;
  }
  .nav-link {
    color: $white;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    width: fit-content;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
  }
  .bi::before {
    font-size: 2.4rem;
    color: $white;
  }
  .offcanvas-social {
    display: flex;
    justify-content: space-between;
    width: 8rem;
  }
}

/* HERO */
.hero {
  margin-top: 3rem;
}
.hero-illustration {
  position: relative;
  .background-blue {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $blue;
    width: 80%;
    height: 75%;
    border-radius: 50em 0 0 50em;
  }
  .image {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  img {
    width: 100%;
    transition: all 0.3s ease;
  }
}
.about {
  margin-top: 4rem;
  h1 {
    font-size: 2.9rem;
    color: $dark-blue;
  }
  .g-chrome {
    border: 2px solid $primary;
  }
  .btn-custom, .btn-custom:active {
    background: rgb(241, 241, 241);
    border: 2px solid transparent;
    color: $dark-blue;
    margin-left: 4%;
  }
}

/* FEATURES */
.main-section {
  margin-top: 3.6rem;
  .nav-item {
    width: 100%;
    border-bottom: 1px solid gray;
  }
  .nav-item:nth-child(1) {
    border-top: 1px solid gray;
  }
  .nav-pills .nav-link {
    color: $gray-blue;
    margin: 0 auto;
    background: none;
    border: 0;
    border-radius: 0;
    border-bottom: 3px solid transparent;
    margin-top: 0.3rem;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
  }
  .nav-pills .nav-link.active {
    background-color: transparent;
    color: $dark-blue;
    border-bottom: 3px solid red;
    color: $dark-blue;
  }
}

.tab-image {
  position: relative;
  .background-blue {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $blue;
    width: 80%;
    height: 75%;
    border-radius: 0 50em 50em 0;
  }
  .image {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 6rem;
    padding-bottom: 10%;
  }
  img {
    width: 100%;
  }
}
.about-tab {
  margin-top: 4rem;
  .btn {
    border: 2px solid #5368df;
    margin: 0 auto;
  }
}

/* DOWNLOAD */
.browsers-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
.browser {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  border: 2px solid white;
  transition: all 0.5s ease;
  .logo {
    width: 40%;
    margin: 0 auto;
    height: 100px;
    object-fit: contain;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.4rem;
    color: $gray-blue;
    margin-top: 0.8rem;
    margin-bottom: 2.5rem;
  }
  .dots {
    width: 100%;
    display: block;
    margin-bottom: 2rem;
  }
  .btn {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 3rem;
    border: 2px solid #5368df;
  }
}

/* FAQ */
.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
}
.accordion-button {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 2rem 0;
}
.accordion-button::after {
  width: 2rem;
  background-size: auto;
}
.accordion-body {
  padding: 0;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  line-height: 2;
  color: hsla(229, 31%, 21%, 0.9);
}
.faq .btn {
  border: 2px solid #5368df;
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
}

/* INPUT */
.input-wrapper {
  background-color: $blue;
  h5 {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 0.5rem;
    font-weight: 400;
    padding-top: 6rem;
    padding-bottom: 1.5rem;
  }
  h2 {
    color: $white;
  }
  .btn {
    background-color: $red;
    width: 100%;
    border: 2px solid #fa5757;
    color: $white;
    margin-bottom: 3.5rem;
    margin-top: 1.5rem;
  }
  .btn:active {
    background-color: $red;
    color: $white;
  }
}
.input {
  padding-top: 3rem;
}
.input-email {
  background-color: #fff;
  border-radius: 0.375rem;
  overflow: hidden;
  border: 2px solid transparent;
}
.input-group-text {
  display: none;
  color: $red;
  background-color: #fff;
  border: none;
  padding-right: 1.3rem;
  padding-left: 1.3rem;
}
.form-control {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
#message {
  background-color: $red;
  font-size: 1.2rem;
  color: $white;
  font-style: italic;
  padding: 0.2rem 1rem;
  display: none;
}
.form-control {
  border: none;
}
.form-control:focus {
  border-color: none;
  box-shadow: none;
  outline: 0;
}
.input-group {
  border-radius: 0.375rem;
  overflow: hidden;
}
.input .bi::before {
  line-height: 1.8;
  font-size: 2rem;
}


/* FOOTER */
.footer {
  background-color: $dark-blue;
  padding-top: 4rem;
  .bi::before {
    font-size: 2.4rem;
  }
}
.links {
  margin-top: 1rem;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .nav-link {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
}
.social {
  width: 8rem;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.social-icon {
  color: $white;
  transition: all ease 0.2s;
}

/* HOVERS */
@media (hover: hover) {
  .navbar-expand-sm .navbar-nav li:nth-child(4) .nav-link:hover {
    background: transparent;
    color: $red;
    border: 2px solid $red;
  }
  .navbar-expand-sm .navbar-nav .nav-link:hover,
  .main-section .nav-link:hover,
  .accordion-button:hover,
  .links .nav-link:hover,
  .social-icon:hover {
    color: $red;
  }
  .about .g-chrome:hover,
  .about-tab .btn:hover,
  .faq .btn:hover,
  .browser .btn:hover {
    background: transparent;
    color: $primary;
  }
  .about .btn-custom:hover {
    background: transparent;
    border: 2px solid $dark-blue;
  }
  .hero-illustration .image img:hover {
    cursor: pointer;
    transform: rotate(3deg) scale(1.08);
  }
  .tab-image .image img:hover {
    animation-play-state: paused;
  }
  .browsers-wrapper:hover .browser {
    transition-delay: 0s;
  }
  .chrome.show:hover, .firefox.show:hover, .opera.show:hover {
    transform: translateY(2rem);
    border: 2px solid rgba(128, 128, 128, 0.342);
    cursor: pointer;
  }
  .input-wrapper .btn:hover {
    background-color: $white;
    color: $red;
  }
}

@import 'responsive';